@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&family=Ubuntu:wght@400;700&display=swap");

.body {
  font-family: "Ubuntu";
  margin: 0 auto;
}
.container {
  background: url(./images/background1.png);
  background-position: center;
  background-size: cover;
  height: 110vh;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  color: white;
  max-width: 1208px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.title:hover,
.color_reg:hover {
  color: #01813f;
  transition: 200ms;
  opacity: 0.6;
}

.navigation {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav_image {
  padding-right: 26px;
}

.nav_image:hover {
  transition: 200ms;
  opacity: 0.5;
  filter: invert(26%) sepia(60%) saturate(3052%) hue-rotate(421deg)
    brightness(59%) contrast(97%);
}

.registration {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-left: 25px;
}
.registration::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 19px;
  right: 330px;
  top: 20px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.registration:hover {
  color: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_content {
  position: relative;
  width: 444px;
  height: 598px;
  top: 54px;
  padding: 31px 61px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.main_content::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;
  background: #3cb878;
}
.main_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
}
.sign_up {
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.log_in {
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  cursor: pointer;
}
.log_in:hover {
  color: #01813f;
  text-decoration: underline;
  transition: 200ms;
}

.header_buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  font-weight: 400;
  height: 60px;
}
.fb_btn,
.google_btn {
  position: relative;
  color: #ffffff;
  border-radius: 5px;
  padding-right: 22px;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
}
.fb_btn {
  background: #305db8;
}
.google_btn {
  background: #df4a32;
}
.fb_btn::before,
.google_btn::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 28px;
  left: 48px;
  top: 10px;
  mix-blend-mode: normal;
  opacity: 0.1;
}
.fb_btn::before {
  left: 48px;
  background: #0a162f;
}
.google_btn::before {
  left: 55px;
  background: #2b0d09;
}
.fb_btn:hover {
  background: #022263;
}
.google_btn:hover {
  background: #ab1f09;
}
.fb_image,
.google_image {
  padding-right: 37px;
  padding-left: 16px;
}

.lines {
  position: relative;
  display: flex;
  justify-content: center;
  color: #848484;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding-top: 32px;
}
.lines::before {
  position: absolute;
  content: "";
  width: 152px;
  height: 0px;
  left: 0px;
  top: 6px;
  border: 1px solid #f2f2f2;
  margin-top: 34px;
}
.lines::after {
  position: absolute;
  content: "";
  width: 152px;
  height: 0px;
  left: 170px;
  top: 6px;
  border: 1px solid #f2f2f2;
  margin-top: 34px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 328px;
  padding-top: 12px;
}
.text_form {
  position: relative;
  width: 322px;
  height: 44.08px;
  border: 1px solid #f2f2f2;
  padding: 15px 19px;
  margin-top: 16px;
  border-radius: 4px;
  opacity: 0.6;
}
.text_form:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
}

.checkbox {
  position: relative;
}
.checkbox_input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox_label {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 30px;
}
.checkbox_label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.checkbox_label::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 2;
  width: 14px;
  height: 14px;
  background: url(./images/Check.svg) no-repeat;
  background-size: 14px 14px;
  opacity: 0;
  cursor: pointer;
}
.checkbox_input:checked + .checkbox_label::after {
  opacity: 1;
}

.checkbox_label_color {
  color: #3cb878;
}
.checkbox_label_color:hover {
  color: #01813f;
  text-decoration: underline;
}

.main_footer_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.footer_btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding: 16px 99px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
}
.footer_btn:hover {
  background: #01813f;
}
